/* Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Baloo Da 2", cursive;
}

html {
  font-size: 62.5%;
}

.logo {
  font-size: 3.5rem;
  font-style: italic;
  font-weight: 800;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.p-1 {
  font-size: 4.5rem;
  margin-right: 1rem;
  position: relative;
  z-index: 10;
}

.p-2 {
  font-size: 4.5rem;
  color: #bbb;
  position: absolute;
  top: 0.4rem;
  left: 0.5rem;
}

.blue-btn {
  width: 35rem;
  height: 5rem;
  background-color: #036bb1;
  color: #fff;
  border-radius: 3rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}
/* End of Common Styles */


/* Section 1 */
.section-1 {
  width: 100%;
  height: 80vh;
  background: linear-gradient(
      to top,
      rgba(38, 38, 38, 0.7),
      rgba(38, 38, 38, 0.6)
    ),
    url(/images/hero.jpg) center no-repeat;
  background-size: cover;
  position: relative;
}


.navbar-wrapper {
  width: 100%;
  height: 10rem;
  border-bottom: 0.1rem solid #aaa;
  display: flex;
  justify-content: center;
}
.navbar {
  width: 120rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: none;
}

.nav-list {
  display: flex;
}

.nav-list-item {
  height: 8rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  transition: border-bottom 0.1s;
}

.nav-list-item:hover {
  border-bottom: 0.2rem solid #fff;
}

.nav-dropdown {
  width: 100%;
  height: 11rem;
  background: linear-gradient(to right, #566573 , #808B96, #566573);
  position: absolute;
  top: 8rem;
  left: 0;
  z-index: 100;
  padding: 0 20rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 0;
  visibility: hidden;
}

.nav-dropdown-item {
  width: 20rem;
  margin: 2rem 5rem;
  display: flex;
  flex-direction: column;
}

.dropdown-heading {
  display: none;
}

.nav-dropdown-link-1 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.nav-dropdown-link-2 {
  font-size: 1.3rem;
  color: #fff;
}

.nav-list-link {
  width: 100%;
  height: 100%;
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
}

.nav-list-link i {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  transition: transform 0.3s;
}

.navbar-btn {
  width: 8rem;
  padding: 0.7rem;
  margin: 0.3rem;
  border-radius: 3rem;
  border: 0.1rem solid #fff;
  font-size: 1.4rem;
  cursor: pointer;
}

.navbar-btn:nth-child(1) {
  background-color: transparent;
  color: #fff;
}

.navbar-btn:nth-child(2) {
  background-color: #fff;
  color: #262626;
}

.banner {
  width: 100%;
  position: absolute;
  top: 25%;
  text-align: center;
}

.banner-heading {
  font-size: 6rem;
  font-weight: 300;
  color: #fff;
  margin-bottom: 3rem;
}

.banner-paragraph {
  font-size: 1.8rem;
  color: #fff;
  width: 50%;
  margin: 0 auto 4rem auto;
}

/* End of Section 1 */

/* Section 2 */
.section-2 {
  width: 100%;
  padding: 10rem 0 15rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-2-heading {
  font-size: 5rem;
  font-weight: 300;
  color: #333;
  margin-bottom: 3rem;
}



.services {
  display: flex;
}

.service {
  width: 35rem;
  text-align: center;
  margin: 0 5rem;
}

.service i {
  font-size: 6rem;
  color: #229fe7;
  margin: 2rem 0;
}

.service-heading {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.service-paragraph {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.service-btn {
  width: 20rem;
  padding: 1.5rem;
  background-color: transparent;
  border-radius: 3rem;
  border: 0.1rem solid #036bb1;
  color: #036bb1;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
/* End of Section 2 */


/* Login Page */
.section-login{
  background: #566573;
}

.login-page {
  width: 100%;
  height: 100vh;
}

.login-page-content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1rem solid #cfcfcf;
  padding: 3rem;
}

.login-page-logo {
  margin-bottom: 1.2rem;
}

.login-page-logo .p-1 {
  color: #064699;
}

.login-page-logo .p-2 {
  color: #32a4f0;
}

.login-page-logo span:nth-child(3) {
  color: #064699;
}

.login-page-logo span:nth-child(4) {
  color: #32a4f0;
}

.login-page-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page-form input {
  width: 37rem;
  height: 4.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
}

.form-login-input {
  padding: 0 1.5rem;
  border: 0.1rem solid #777;
  font-size: 1.6rem;
}

.form-login-btn {
  background-color: #036bb1;
  color: #fff;
  border: 0.1rem solid #036bb1;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}

.form-login-link {
  font-size: 1.6rem;
  color: #229fe7;
  margin: 1.2rem 0 1rem 0;
}

.login-page-form span {
  width: 2rem;
  font-size: 1.8rem;
  color: #888;
  margin: 1rem 0;
  position: relative;
}

.login-page-form span::before {
  content: "";
  width: 16rem;
  height: 0.1rem;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  right: 3.5rem;
  transform: translateY(-50%);
}

.login-page-form span::after {
  content: "";
  width: 16rem;
  height: 0.1rem;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  left: 3.5rem;
  transform: translateY(-50%);
}

.form-signup-btn {
  background-color: #dbe8ec;
  border: 0.1rem solid #dbe8ec;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}
/* End of Login Page */


/* Contact Form */
.contact {
  width: 100%;
  height: 100vh;
  background-color: #ECF0F1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.contact-wrapper {
  width: 80%;
  height: 70rem;
  display: flex;
  box-shadow: 0 3rem 7rem rgba(0, 0, 0, 0.5);
}

.contact-left {
  width: 45%;
}

.contact-right {
  width: 60%;
  background-color: #eee;
  padding: 3rem 10rem 10rem 10rem;
}

.contact-heading {
  font-family: "Baloo Da 2", serif;
  font-size: 6rem;
  font-weight: 300;
  color: #272727;
  margin-bottom: 5rem;
  text-align: center;
}

.contact-right form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  position: relative;
}

.field {
  width: 45rem;
  background-color: transparent;
  border: none;
  border-bottom: 0.2rem solid #636363;
  margin: 3rem 0;
  padding: 1rem 1rem 1rem 0;
  font-family: "Muli", serif;
  font-size: 1.6rem;
  color: #4b4b4b;
}

.input-group input {
  height: 4rem;
}

.input-group textarea {
  max-height: 7rem;
  max-width: 45rem;
}

.field:focus {
  border-bottom-style: solid;
}

.input-group label {
  position: absolute;
  left: 0;
  font-family: "Baloo Da 2", serif;
  font-size: 1.8rem;
  color: #4b4b4b;
  text-transform: uppercase;
  pointer-events: none;
  transition: all 0.3s;
}

.input-label {
  bottom: 3rem;
}

.message {
  bottom: 6rem;
}

.field:focus{
  outline: none;
}

.field:focus ~ label{
  transform: translateY(-3rem);
  font-size: 1.2rem;
}

.submit-btn {
  width: 45rem;
  height: 5rem;
  background-color: #c29525;
  color: #fff;
  border: none;
  margin-top: 2rem;
  font-family: "Muli", serif;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}

/* End of Contact Form */


/* Carrier */
.transport {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10rem;
  position: relative;
}

.transport-heading {
  font-size: 10rem;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: #696969;
  margin-right: 4rem;
}

.transport-heading-line {
  width: 15rem;
  height: 0.2rem;
  background-color: #696969;
}

.img-wrapper {
  width: 100rem;
  height: 50rem;
  position: absolute;
  top: 5rem;
  right: 15rem;
  box-shadow: 3rem 3rem 6rem rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
/*  opacity: 0.3;
  transition: opacity 0.3s;*/
}

.transport-paragraph {
  width: 100rem;
  position: absolute;
  bottom: 8rem;
  right: 15rem;
  font-size: 2rem;
  line-height: 1.5;
  color: #696969;
  border-top: 0.3rem double #696969;
  border-bottom: 0.3rem double #696969;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.fa-quote-left {
  align-self: flex-start;
  font-size: 5rem;
  color: #696969;
  margin-bottom: 2rem;
}

.fa-quote-right {
  align-self: flex-end;
  font-size: 5rem;
  color: #696969;
}

/* End of Carrier */

/* Footer */
.footer {
  width: 100%;
  height: 25rem;
  background-color: #202122;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
}


.contact-details {
  display: flex;
  margin-bottom: 5rem;
}

.contact-details div {
  width: 15rem;
  text-align: center;
}

.contact-details i {
  font-size: 5rem;
  color: #7a1010;
}

.contact-details h3 {
  font-family: "MADE Soulmaze", serif;
  font-size: 2.5rem;
  margin: 2rem 0;
  color: #ccc;
}

.contact-details p {
  font-size: 1.6rem;
  color: #aaa;
}

.contact-wrapper h1 {
  font-size: 4rem;
  color: #ccc;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.copyright {
  background-color: #202122;
  font-size: 2rem;
  color: #ddd;
  text-align: center;
}
/* End of Footer */

.scroll-btn {
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #e2b646;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}




/* Responsive */
@media (max-width: 1800px) {
  .img-wrapper {
    width: 90rem;
    height: 45rem;
    right: 10rem;
  }

  .transport-paragraph {
    width: 90rem;
    right: 10rem;
  }


}

@media (max-width: 1650px) {
  html {
    font-size: 57%;
  }

  .img-wrapper {
    width: 85rem;
    height: 40rem;
    right: 5rem;
  }

  .transport-paragraph {
    width: 85rem;
    right: 5rem;
    bottom: 10rem;
  }
}

@media (max-width: 1500px) {
  .nav-dropdown {
    padding: 0 25rem;
  }

  .nav-dropdown-item {
    margin: 2rem 6rem;
  }

  .features {
    width: 80%;
  }

  .feature {
    padding: 0 3rem;
  }

  .transport{
    flex-direction: column;
    height: 120vh;
  }

  .transport-heading-line {
    display: none;
  }

  .transport-heading{
    margin: 8rem 0;
  }

  .img-wrapper {
    width: 100%;
    height: 45rem;
    right: 0;
    margin-top: 20rem;
  }

  .transport-paragraph {
    width: 100%;
    right: 0;
    bottom: 40rem;
  }
  
}

@media (max-width: 1400px) {
  html {
    font-size: 55%;
  }

  .navbar {
    width: 100rem;
  }

  .section-1 {
    height: 70vh;
  }

  .banner-paragraph {
    width: 70%;
  }

  .services {
    width: 90%;
  }


  .transport-heading{
    margin: 4rem 0;
  }

  .transport-paragraph {
    bottom: 55rem;
  }

}

@media (max-width: 1100px) {
  .nav-dropdown-item {
    margin: 2rem 3.4rem;
  }

  .transport-paragraph {
    bottom: 85rem;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 50%;
  }

  .navbar {
    width: 100%;
    padding: 0 5rem;
  }

  .navbar-logo {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .menu {
    width: 11rem;
    height: 4rem;
    border-radius: 3rem;
    border: 0.1rem solid #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: transform 0.6s cubic-bezier(1, 0, 0, 1);
  }

  .change .menu {
    transform: translateX(25rem);
    position: fixed;
    top: 2rem;
    left: 6rem;
    background-color: #eee;
  }

  .menu-icon {
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .line {
    width: 2rem;
    height: 0.1rem;
    background-color: #fff;
    transform-origin: left;
  }

  .change .line-1 {
    transform: rotate(45deg);
    background-color: #444;
  }

  .change .line-2 {
    opacity: 0;
    visibility: hidden;
  }

  .change .line-3 {
    transform: rotate(-45deg);
    background-color: #444;
  }

  .menu span {
    font-size: 1.8rem;
    color: #fff;
  }

  .change .menu span {
    color: #555;
  }

  .nav-list,
  .nav-dropdown-personal,
  .nav-dropdown-business {
    /* display: none; */
    position: fixed;
    top: 0;
    left: -20rem;
    width: 20rem;
    height: 100vh;
    background: linear-gradient(to bottom, #032181, #094399, #04207c);
    flex-direction: column;
    padding-top: 2rem;
    z-index: 200;
    transition: left 0.6s cubic-bezier(1, 0, 0, 1);
  }

  .change .nav-list {
    left: 0;
  }

  .nav-list-item a{
    font-size: 2.5rem;
  }

  .nav-dropdown-personal,
  .nav-dropdown-business {
    opacity: 1;
    visibility: visible;
    padding: 1rem;
    justify-content: flex-start;
  }

  .nav-dropdown-item {
    width: 100%;
    margin: 1rem 1rem 0 1rem;
  }

  .dropdown-heading {
    display: block;
  }

  .dropdown-heading a {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #fff;
  }

  .dropdown-heading a i {
    font-size: 1.9rem;
    transform: rotate(90deg);
    margin-right: 1rem;
  }

  .nav-dropdown-link-1 {
    font-size: 1.4rem;
  }

  .nav-dropdown-link-2 {
    display: none;
  }

  .nav-list-item {
    width: 100%;
    height: auto;
    padding: 0 1rem;
    margin: 0.4rem 0;
  }

  .nav-list-item:hover {
    border-bottom: none;
  }

  .nav-list-link {
    font-size: 1.4rem;
  }

  .nav-list-item i {
    font-size: 1.2rem;
    transform: rotate(-90deg);
  }

  .navbar-buttons {
    margin-left: auto;
  }

  .section-2-heading {
    font-size: 4rem;
  }

  .contact-left {
    width: 0;
  }

  .contact-right {
    width: 100%;
  }

  .field {
    width: 55rem;
  }

  .input-group textarea {
    max-width: 55rem;
  }

  .submit-btn {
    width: 55rem;
  }


  .transport-heading{
    margin: 3rem 0;
  }

  .transport-paragraph {
    bottom: 70rem;
  }



}

@media (max-width: 800px) {
  html {
    font-size: 45%;
  }

  .section-2 {
    padding: 10rem 0;
  }

  .section-2-heading {
    width: 80%;
    text-align: center;
    line-height: 1.2;
  }

  .services {
    width: 95%;
  }

  .service {
    width: 30rem;
    margin: 0 2rem;
  }

  .service i {
    font-size: 4rem;
  }

  .service-btn {
    width: 15rem;
    padding: 1rem;
  }

  .field {
    width: 35rem;
  }

  .input-group textarea {
    max-width: 35rem;
  }

  .submit-btn {
    width: 35rem;
  }

  .transport-heading{
    margin: 1rem 0;
  }

  .transport-paragraph {
    bottom: 70rem;
  }


}
@media (max-width: 550px) {
  .navbar-logo {
    display: none;
  }

  .banner-heading {
    font-size: 4.5rem;
  }

  .banner-paragraph {
    line-height: 1.2;
  }

  .services {
    flex-direction: column;
    align-items: center;
  }

  .service {
    width: 60%;
    margin-bottom: 4rem;
  }

  .transport-paragraph {
    bottom: 15rem;
  }


}
@media (max-width: 400px) {
  html {
    font-size: 40%;
  }

  .menu {
    width: 5rem;
  }

  .menu span {
    display: none;
  }

  .number {
    min-width: 3.5rem;
  }

  .transport-heading{
    margin: 2rem 0;
  }

  .transport-paragraph {
    bottom: 40rem;
  }
}
/* End of Responsive */


.section-3{
  margin-bottom: 5rem;
}


.section-3-heading {
  font-size: 5rem;
  font-weight: 300;
  color: #333;
  margin-bottom: 3rem;
  text-align: center;
}

.subscription{
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 2rem;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.pricingTable{
  text-align: center;
  transform: translateY(0);
  transition: all 0.3s ease 0s;

}
.pricingTable:hover{
  transform: translateY(-20px);
  box-shadow: 0 0 20px #000;
}
.pricingTable .pricingTable-header{
  background: #3d3d3d;
  padding: 20px 0;
  position: relative;
  transition: all 0.3s ease 0s;
}
.pricingTable:hover .pricingTable-header{
  background: #34accd;
}
.pricingTable .pricingTable-header:before,
.pricingTable .pricingTable-header:after{
  content: "";
  width: 25px;
  height: 20px;
  background: #313131;
  position: absolute;
  bottom: 0;
}
.pricingTable .pricingTable-header:before{
  left: 0;
}
.pricingTable .pricingTable-header:after{
  right: 0;
}
.pricingTable .title{
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}
.pricingTable .currency{
  display: inline-block;
  font-size: 25px;
  font-weight: 900;
  color: #fff;
  margin-right: 3px;
}
.pricingTable .price-value{
  display: inline-block;
  font-size: 25px;
  font-weight: 900;
  color: #fff;
  padding-right: 5px;
}
.pricingTable .month{
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}
.pricingTable .pricing-content{
  background: #313131;
  padding: 25px 20px;
}
.pricingTable .pricing-content ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.pricingTable .pricing-content ul li{
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
}
.pricingTable .pricing-content ul li span{
  font-weight: 700;
  padding-right: 5px;
}
.pricingTable .pricingTable-signup{
  display: block;
  padding: 10px 0;
  background: #3d3d3d;
  font-size: 14px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.pricingTable .pricingTable-signup:hover{
  box-shadow: 0 0 10px #34accd;
}
.pricingTable:hover .pricingTable-signup{
  background: #34accd;
}
@media only screen and (max-width: 990px){
  .pricingTable{ margin-bottom: 40px; }
}

@media (min-width: 768px) {
  .subscription {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .subscription {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .subscription {
    width: 1170px;
  }
}